<?php
// add your local settings here.

$app['log.level'] = Monolog\Logger::DEBUG;

$app['db.options'] = array(
    "driver"   => "pdo_mysql",
    "user"     => "root",
    "password" => "root",
    "dbname"   => "prod_db",
    "host"     => "prod_host",
);

/**
 * Cache
 */
$app['cache.class'] = null;
$app['cache.options'] = [
    "scheme" => "tcp",
    "host"   => "127.0.0.1",
    "port"   => 6379,
];